html, 
body {
    margin: 0;
    padding: 0;
    height: 100%
}


header {
    background-image: url(../images/w05_circles.jpg);
    background-size: auto;
    height: 65%;
}

main {
    background-color: gray;
    height: 35%;
    
}

main img{
    display: inline-block;
    
    max-height: 200px;
    border-radius: 50%;
    border: 7px solid #444444;
    margin: 15px 145px;
}